@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
}

:root{
    --slide-height: 19rem;
    --slide-spacing: 2rem;
    --slide-size: 25%;
}

@font-face {
    font-family: "EBGaramond-bold";
    src: url("./assets/fonts/EBGaramond-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "EBGaramond-regular";
    src: url("./assets/fonts/EBGaramond-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato-bold";
    src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato-regular";
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-regular";
    src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-bold";
    src: url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pacifico-regular";
    src: url("./assets/fonts/Pacifico-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-medium";
    src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-regular";
    src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-semibold";
    src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

.embla {
    margin: auto;
    
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    /* flex: 0 0 var(--slide-size); */
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
  }
  
