@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;1,700&family=Lato:wght@700&family=Pacifico&family=Raleway:ital@0;1&display=swap');
:root{
    --lato: "Lato", sans-serif;
    --pacifico: "Pacifico", cursive;
    --ebgaramond: "EB Garamond", serif;
    --raleway: "Raleway", sans-serif;
}